// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import "~nativescript-theme-core/scss/light";

// Custom common variables
@import "app-variables";

@import "~nativescript-theme-core/scss/platforms/index.android";

// Place any CSS rules you want to apply only on Android here
//Action bar
actionbar .fa {
  padding: 40px;
}

.messagePost {
  background-color: #810d43;
  border-radius: 10;
  box-shadow: 10px 10px 5px grey;
}

.pointsNumber-profile {
  color: $accent-light;
  border-radius: 15;
}

.promo {
  border-radius: 10;
}

.pointsNumber {
  background-color: #810d43;
  color: white;
  border-radius: 10;
}

.socialButton {
  padding: 15px 20px;
  background-color: $page-icon-color;
  color: white;
  margin-left: 5px;
  border-radius: 15px;
}

.passfield{
    margin: 0 0;
}

TextField {
    background-color: white;
    border-radius: 15px;
    width: 80%;
    padding: 15;
    margin: 5px;
  }
