<Page backgroundSpanUnderStatusBar="false">
    <StackLayout orientation="vertical" class="bgHeader ">
        <StackLayout visibility="{{!isRegistration ? 'visible' : 'collapse'}}">
            <CardView class="cardStyle" margin="70 20" elevation="50" radius="1">
                <StackLayout class="form">
                    <Image src="~/assets/froppings.png" class="imgLogo" stretch="aspectFit"></Image>
                    <TextField class="text-field" hint="Correo Electronico" [(ngModel)]="email" autocapitalizationType="none" keyboardType="email"
                        required></TextField>
                    <label class="label text-center" *ngIf="!valid" [text]="validText"></label>
                    <StackLayout orientation="horizontal" horizontalAlignment="center" margin="0 15">
                        <TextField class="text-field" hint="Contraseña" id="password" secure="true" [(ngModel)]="pass" autocapitalizationType="none"
                            required></TextField>
                        <Label class="fa socialButton" (tap)="seePassword()" [text]="'\uf06e'"></Label>
                    </StackLayout>
                    <label class="label text-center" (tap)="resetPassword()" text="¿Olvidaste tu contraseña?"></label>
                    <Button text="Iniciar sesión" (tap)="login()"></Button>
                    <label class="label text-center" text="Conecta con:"></label>
                    <StackLayout orientation="horizontal" horizontalAlignment="center">
                        <Button [text]="'\uf09a'" class="fa socialButton" (tap)="fbLogin()"></Button>
                        <Button [text]="'\uf1a0'" class="fa socialButton" (tap)="googleLogin()"></Button>
                    </StackLayout>
                    <label class="label text-center" (tap)="isRegistration=!isRegistration" text="¿No estás registrado?"></label>
                </StackLayout>
            </CardView>
        </StackLayout>
        <StackLayout visibility="{{isRegistration ? 'visible' : 'collapse'}}">
            <CardView class="cardStyle" margin="30 20" elevation="50" radius="1">
                <StackLayout class="form">
                    <Image src="~/assets/froppings.png" class="imgLogo" stretch="aspectFit"></Image>
                    <TextField class="text-field" hint="Nombre" [(ngModel)]="nameRegister" autocapitalizationType="none" required></TextField>
                    <TextField class="text-field" hint="Apellido" [(ngModel)]="lastnameRegister" autocapitalizationType="none" required></TextField>
                    <TextField class="text-field" hint="Cedula" [(ngModel)]="id" autocapitalizationType="none" keyboardType="number" required></TextField>
                    <TextField class="text-field" hint="Correo Electronico" [(ngModel)]="emailRegister" autocapitalizationType="none" keyboardType="email"
                        required></TextField>
                    <StackLayout orientation="horizontal" horizontalAlignment="center" margin="0 17">
                        <TextField class="text-field" hint="Contraseña" id="passwordReg" secure="true" [(ngModel)]="passRegister" autocapitalizationType="none"
                            required></TextField>
                        <Label class="fa socialButton" (tap)="seePassword()" [text]="'\uf06e'"></Label>
                    </StackLayout>
                    <label class="label text-center" *ngIf="!valid" [text]="validText"></label>
                    <Button text="Registrate" (tap)="register()"></Button>
                    <label class="label text-center" text="Conecta con:"></label>
                    <StackLayout orientation="horizontal" horizontalAlignment="center">
                        <Button [text]="'\uf09a'" class="fa socialButton" (tap)="fbRegister()"></Button>
                        <Button [text]="'\uf1a0'" class="fa socialButton" (tap)="googleRegister()"></Button>
                    </StackLayout>
                    <StackLayout (tap)="isRegistration=!isRegistration">
                        <label class="label text-center" text="¿Estás registrado?"></label>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </StackLayout>
</Page>