<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Promociones"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Promociones'"></MyDrawer>
    </StackLayout>

    <GridLayout class="page page-content" tkMainContent background-color="#EEEEEE">
        <ListView [items]="promotions" colSpan="1" height="100%" width="100%">
            <template let-item="item" let-i="index">
                    <!-- Promociones -->
                    <StackLayout margin="20 8" class="promo">
                        <Gradient direction="to right" colors="#cc2b5e,#753a88" orientation="horizontal" width="100%" height="130" class="promoHeader">
                            <Image src="~/assets/froppingsSquare.png" class="circlePic" width="80%" height="80%" stretch="aspectFit"></Image>
                            <Label text="5000BsF OFF" ></Label>
                            <Label text="Froppings" ></Label>
                        </Gradient>
                        <StackLayout class="promoContent" width="100%" height="70">
                            <StackLayout orientation="horizontal">
                                <Label [text]="'\uf017'" class="fa"></Label>
                                <Label text="23 Mayo a 10 Junio" ></Label>
                            </StackLayout>
                            <StackLayout orientation="horizontal">
                                <Label [text]="'\uf05a'" class="fa" margin="10 20"></Label>
                                <Label text="Compras mayores a 20000BsF" margin="10 20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <!-- Cupones -->
            </template>
        </ListView>
    </GridLayout>
</RadSideDrawer>