<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Promociones"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Promociones'"></MyDrawer>
    </StackLayout>

    <GridLayout class="page page-content" class="Page" tkMainContent>
        <ListView [items]="promotions" colSpan="1" height="100%" width="100%">
            <template let-item="item" let-i="index">
                <!-- Promotions -->
                <StackLayout>
                    <StackLayout margin="20 8 10 8" class="promo" *ngIf="item.type=='promo'">
                        <Gradient direction="to right" colors="#aa076b,#61045f" orientation="horizontal" width="100%" height="130" class="promoHeader">
                            <DockLayout stretchLastChild="true" width="100%">
                                <Image src="~/assets/froppingsSquare.png" dock="left" class="circlePic" margin="15 15" padding="10 5" stretch="aspectFit"></Image>
                                <StackLayout dock="right" horizontalAlignment="right" verticalAlignment="center" margin="0 20 0 0">
                                    <label text="BsF. 5000" class="promoText" ></label>
                                    <label text="OFF" class="promoTextBig" horizontalAlignment="right"></label>
                                </StackLayout>
                            </DockLayout>
                        </Gradient>
                        <StackLayout class="promoContent" width="100%" height="70">
                            <StackLayout orientation="horizontal">
                                <Label [text]="'\uf05a'" class="fa" margin="10 10 5 15"></Label>
                                <Label text="Compras mayores a 20000BsF" class="wrap " margin="10 10 5 0"></Label>
                            </StackLayout>
                            <StackLayout orientation="horizontal">
                                <Label [text]="'\uf017'" class="fa " margin="0 10 10 15"></Label>
                                <Label text="23 Mayo a 10 Junio" class="wrap " margin="0 10 10 0"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <!-- Coupons -->
                    <StackLayout>
                        <StackLayout margin="20 8 10 8" class="promo" *ngIf="item=='coupon'">
                            <Gradient direction="to right" colors="#36d1dc,#5b86e5" orientation="horizontal" width="100%" height="200" class="promoHeader">
                                <DockLayout stretchLastChild="true" width="100%">
                                    <DockLayout stretchLastChild="true" dock="top">
                                        <StackLayout orientation="horizontal" dock="top">
                                            <DockLayout stretchLastChild="true" width="100%">
                                                <StackLayout horizontalAlignment="left" dock="left" verticalAlignment="center" margin="25 20 10 20">
                                                    <label text="-15%" class="couponTextBig" horizontalAlignment="left"></label>
                                                </StackLayout>
                                                <StackLayout horizontalAlignment="right" dock="right" verticalAlignment="center" margin="15 25 0 0">
                                                    <label text="SJ3F" class="promoTextBig" horizontalAlignment="right"></label>
                                                </StackLayout>
                                            </DockLayout>
                                        </StackLayout>
                                        <StackLayout dock="bottom" horizontalAlignment="center" verticalAlignment="center" margin="0 20">
                                            <Image src="~/assets/element.png" stretch="aspectFit" verticalAlignment="center"></Image>
                                        </StackLayout>
                                    </DockLayout>
                                    <DockLayout width="100%" dock="bottom">
                                        <StackLayout class="" width="100%">
                                            <StackLayout orientation="horizontal">
                                                <Label [text]="'\uf05a'" class="fa text-white" margin="15 10 5 15"></Label>
                                                <Label text="Compras mayores a 20000BsF" class="wrap text-white" margin="15 10 5 0" ></Label>
                                            </StackLayout>
                                            <StackLayout orientation="horizontal">
                                                <Label [text]="'\uf017'" class="fa text-white"  margin="0 10 10 15"></Label>
                                                <Label text="Valido hasta el 10 Junio" class="wrap text-white" margin="0 10 10 0" ></Label>
                                            </StackLayout>
                                        </StackLayout>
                                    </DockLayout>
                                </DockLayout>
                            </Gradient>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </template>
        </ListView>
    </GridLayout>
</RadSideDrawer>